@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#0056b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 8px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #0056b3;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0.55rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.5s ease;
}
/* Hover state */
.todo-btn:hover {
  /* background-color: red; */
  /* New background color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.22);;
  /* Add a slight shadow on hover */
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0056b3;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
    transition: background-color 0.3s, transform 0.5s ease;
}

.edit-icon,
.delete-icon:hover{
  transform: scale(1.2);
}